body{background-color: burlywood;}
h1{text-align:center ;
color: saddlebrown;
border-style: double;
border-width: 10px;
background-color: darkkhaki;}

h2{color: saddlebrown;
margin-left: 43%;
border-style: double;
margin-right: 44%;
background-color: darksalmon;}

h3{color: saddlebrown;}

#ima1 {width: 30%;
margin-left: 34%;}

#ima2 {width: 30%;
margin-left: 34%;}